body {
    margin-top: 7.5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background-color: #4b85f7;
    font-family: 'Quicksand', sans-serif;
    background-image: url('../img/barber.svg');
    background-repeat: no-repeat;
    background-position: 90% 30%;
    background-attachment: scroll;
    background-size: 400px 800px;
}

#ed1268 - magenta
#0128dd - deep blue
#f9f68f - yellow
#4b85f7 - light blue
#a86653 - brownish
#b7cecb - super light blue


.form-control {
    width: 50%;
    margin-bottom: 2%;
    background-color: #e7fbfb;
}

.jumbotron {
    background-color: #f9f68f;
    margin: 2% 0;
    width: 50%;
    border: solid 5px #0128dd;
    font-weight: bold;
}

.add {
    background-color: #ed1268;
}

.jumbotron h1 {
    max-width: 90%;
}

.well li {
    font-size: 1.2em;
}

label {
    font-weight: bold;
    font-size: 1.5em;
}

p {
    font-size: 1.8em;
}

a {
    font-size: 1.4em;
    color: #ed1268;
}

li {
    list-style-type: none;
}

button {
    margin: 1% 1%;
    border: none;
}

button:hover {
    background-color: #a86653;
}

#stylist_name,
#client_name {
    width: 45%;
}

#stylist_well {
    background-color: #f9f68f;
    width: 55%;
    border: solid 5px #0128dd;

}

#well-showing-clients {
    background-color: #e9e3cd;
    width: 85%;
    border: solid 3px #0128dd;
    border-radius: 20px;
}

.return {
    background-color: #f9f68f;
    color: #ed1268;
    padding: 1%;
    border-radius: 10px;
    margin-top: 3%;
    width: 30%;
    text-align: center;
    border: solid 3px #0128dd;
}

#edit-well {
    background-color: #f9f68f;
    width: 50%;
    border: solid 5px #0128dd;
}

#edit-well button {
    box-shadow: none;
    margin-top: 2%;
}

#edit-well li {
    font-weight: bold;
    font-size: 2em;
}

#client-li {
    font-weight: bold;
    font-size: 1.6em;
}

.edit-labels {
    padding-top: 2%;
}

.edit-inputs {
    width: 35%;
}

button,
.jumbotron,
input,
#stylist_well {
    box-shadow: 3px 3px 10px #000;
}

.svg {
    float: right;
}
