<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
        <link href="{{ app.request.getbaseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css">
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">

            <h1>Epic Salon</h1>
            <h3>Employee and Client Manager</h3>

            <form action="/stylists" method="post">
                <label for="stylist_name">Enter a new Stylist Name:</label>
                <input class="form-control" id="stylist_name" type="text" name="stylist_name" value="">

                <button class="btn btn-info add" type="submit" name="button">Add</button>
            </form>
            <div class="jumbotron">
                {% if stylists is not empty %}
                <p>Here are your stylists:</p>
                <ul>
                    {% for stylist in stylists %}
                    <li><a href="/stylists/{{stylist.getId}}">{{stylist.getStylistName}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>There are no stylists in the system!</p>
                {% endif %}

            </div>
        </div>
    </body>
</html>
